---
import type { CollectionEntry } from "astro:content";
import favicon from "../assets/favicon.png";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
    frontmatter: CollectionEntry<"blog">;
}

const { frontmatter } = Astro.props;
const { tags } = frontmatter.data;
const { authors } = frontmatter.data;
const { publishDate } = frontmatter.data;
const backgroundImg = `background-image: url(${frontmatter.data.image.src})`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{frontmatter.data.title}</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta
            name="description"
            content="Start Serverless is a technology consulting business helping customers deliver on their goals."
        />
        <link href={favicon.src} rel="shortcut icon" type="image/x-icon" />
        <link href="/assets/webclip.png" rel="apple-touch-icon" />
    </head>
    <body class="body">
        <Navbar />
        <div class="background"></div>
        <div class="blog-body">
            <div class="background-image" style={backgroundImg}></div>
            <h1 class="title">{frontmatter.data.title}</h1>
            <div class="metadata">
                <div class="row">
                    <div class="col">
                        <div class="author label">AUTHOR/</div>
                        <ul class="tag-list">
                            {
                                authors.map((author) => {
                                    return (
                                        <li class="author">
                                            <a
                                                class="author author-link"
                                                href={`/blog/authors/${author}/index.html`}
                                            >
                                                {authors[authors.length - 1] ==
                                                author
                                                    ? `${author}`
                                                    : `${author},`}
                                            </a>
                                        </li>
                                    );
                                })
                            }
                        </ul>
                    </div>
                    <div class="col">
                        <div class="tags label">DATE/</div>
                        <div class="tag-list author">
                            {publishDate.toDateString()}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tags label">TAGS/</div>
                    <ul class="tag-list">
                        {
                            tags.map((tag) => {
                                return (
                                    <li class="tags">
                                        <a
                                            class="tags tag-link"
                                            href={`/blog/tags/${tag}/index.html`}
                                        >
                                            {tags[tags.length - 1] == tag
                                                ? `${tag}`
                                                : ` ${tag},`}
                                        </a>
                                    </li>
                                );
                            })
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <slot />
        </div>
    </body>
    <Footer />
</html>

<style is:global>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        height: 100%;
    }

    html.w-mod-touch * {
        background-attachment: scroll !important;
    }

    body {
        margin: 0;
        min-height: 100%;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
    }

    .background {
        display: flex;
        padding-top: 110px;
        padding-bottom: 110px;
        background-image: linear-gradient(45deg, #00d0b7, #00e399);
    }

    .blog-body {
        max-width: 1000px;
        margin: -120px auto 88px;
        padding-left: 72px;
        padding-right: 72px;
        color: #333;
    }

    .background-image {
        height: 300px;
        z-index: 2;
        margin-bottom: 0px;
        background-position: 50% 60%;
        background-size: cover;
    }

    .metadata {
        display: flex;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        grid-column-gap: 24px;
        grid-row-gap: 4px;
        border-bottom: 1px solid #e0e0e0;
    }

    ul.tag-list {
        list-style: none;
        display: flex;
        padding: 0;
        margin-top: 0;
    }

    .label {
        color: #303030;
        font-weight: 700;
        text-transform: uppercase;
        justify-items: left;
    }

    .col {
        flex: 1;
        display: flex;
        column-gap: 5px;
    }

    .row {
        display: flex;
    }

    .tags ul,
    .tags li {
        padding: 0;
    }

    .author {
        text-decoration: none;
        color: #303030;
        text-transform: capitalize;
        font-size: 16px;
        font-family: "Titillium Web", sans-serif;
        font-size: 16px;
        padding: 1px;
    }

    .author-link:hover {
        color: #00e399;
        font-weight: bold;
    }

    .tags {
        text-decoration: none;
        color: #303030;
        text-transform: capitalize;
        font-size: 16px;
        font-family: "Titillium Web", sans-serif;
        font-size: 16px;
        padding: 1px;
    }

    .tag-link:hover {
        color: #00e399;
        font-weight: bold;
    }

    a {
        text-decoration: underline;
        color: #333;
    }

    a:hover {
        color: #00e399;
        font-weight: bold;
    }

    .content {
        font-family: "Titillium Web", sans-serif;
        max-width: 1000px;
        margin: -50px auto 88px;
        padding-left: 72px;
        padding-right: 72px;
    }

    .content > p {
        font-size: 16px;
    }

    .content > ul {
        font-size: 15px;
    }

    h1.title {
        font-family: "Electrolize", sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 45px;
        line-height: 51px;
        margin-top: 20px;
        display: block;
    }

    pre {
        border-radius: 10px;
        padding: 10px;
    }

    .content > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Electrolize", sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 38px;
        line-height: 44px;
        margin-top: 20px;
    }

    @media screen and (max-width: 967px) {
        .content {
            padding-left: 24px;
            padding-right: 24px;
        }

        h1.title {
            font-size: 35px;
        }

        .blog-body {
            margin-top: -180px;
            padding-left: 24px;
            padding-right: 24px;
        }

        ul.tag-list {
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 479px) {
        h1.title {
            font-size: 22px;
            line-height: 25px;
        }
    }
</style>
