---
import type { CollectionEntry } from "astro:content";
import favicon from "../images/favicon.png";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
    frontmatter: CollectionEntry<"blog">;
}

const { frontmatter } = Astro.props;
const backgroundImg = `background-image: url(${frontmatter.data.image})`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{frontmatter.data.title}</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta
            name="description"
            content="Start Serverless is a technology consulting business helping customers deliver on their goals."
        />
        <link href={favicon.src} rel="shortcut icon" type="image/x-icon" />
        <link href="/assets/webclip.png" rel="apple-touch-icon" />
    </head>
    <body class="body">
        <Navbar />
        <div class="background"></div>
        <div class="blog-body">
            <div class="background-image" style={backgroundImg}></div>
            <div class="metadata">
                <div class="tag-label tags">TAGS/</div>
                <ul class="tag-list">
                    {
                        frontmatter.data.tags.map((tag) => {
                            return (
                                <li class="tags">
                                    <a
                                        class="tags tag-link"
                                        href={`/blog/tags/${tag}`}
                                    >
                                        {`${tag},`}
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </div>
            <div class="content">
                <slot />
            </div>
        </div>
        <Footer />
    </body>
</html>

<style is:global>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        height: 100%;
    }

    html.w-mod-touch * {
        background-attachment: scroll !important;
    }

    body {
        margin: 0;
        min-height: 100%;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
    }

    .background {
        display: flex;
        padding-top: 110px;
        padding-bottom: 110px;
        background-image: linear-gradient(45deg, #00d0b7, #00e399);
    }

    .blog-body {
        max-width: 1000px;
        margin: -120px auto 88px;
        padding-left: 72px;
        padding-right: 72px;
        color: #333;
    }

    .background-image {
        height: 300px;
        z-index: 2;
        margin-bottom: 0px;
        background-position: 50% 60%;
        background-size: cover;
    }

    .metadata {
        display: flex;
        height: 72px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row;
        align-items: center;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        border-bottom: 1px solid #e0e0e0;
    }

    ul.tag-list {
        list-style: none;
        display: flex;
        padding: 0;
    }

    .tag-label {
        color: #303030;
        font-weight: 700;
        text-transform: uppercase;
        justify-items: left;
        padding-left: 100px;
    }

    .tags ul,
    .tags li {
        margin: 0;
        padding: 0;
    }

    .tags {
        text-decoration: none;
        /* margin-right: auto;
        margin-left: auto; */
        color: #303030;
        text-transform: capitalize;
        font-size: 16px;
        font-family: "Titillium Web", sans-serif;
        font-size: 16px;
    }

    .tag-link:hover {
        color: #00e399;
        font-weight: bold;
    }

    .content {
        font-family: "Titillium Web", sans-serif;
    }

    .content > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Electrolize", sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 38px;
        line-height: 44px;
        margin-top: 20px;
    }
</style>
